*{
    margin:0;

}
body{
    background-image: url(tacos.avif);
    background-size: cover;
    background-position: center;
    font-family: cursive;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}


.menu-table,th,td{
    border:3px solid black;
    border-collapse: collapse;

}
.menu-table th{
    width: 200px;
    height: 100px;
    background-color: rgba(31, 184, 4, 0.744);
    color: coral;
}   
.birria{
    height: 10%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.torta{
    height: 30%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.tacos{
    height: 10%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
    


